@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

:root{
    --header-color1: #357266;
    --header-color2: #84DD63;
    --main-color1: #EBF2FA;
    --main-color2: #cdd4db;
    --footer-color: #0A100D;
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Utilidades*/

.container{
    max-width: 120rem;
    margin: 0 auto;
}

.heading-1{
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
}

/*Header*/

.container-hero{
    background-color: var(--header-color1);
}

.hero{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2.2rem 0;

}

/* .customer-support{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.customer-support i {
    font-size: 3.3rem;

}
.content-customer-support{
    display: flex;
    flex-direction: column;
} */
.container-logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.container-logo i{
    font-size: 3rem;
}
.container-logo h1 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.container-user{
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.container-user .fa-user{
    font-size: 3rem;
    color:rgb(255, 255, 255);
    padding-right: 2.5rem;
    border-right:1px solid  #e2e2e2;
}

.container-user .fa-basket-shopping{
    font-size: 3rem;
    color: rgb(255, 255, 255);
    padding-left: 1rem
}

.content-shopping-cart{
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
}

/*navbar*/

.container-navbar{
    background-color: var(--header-color2);
}

.navbar{
    padding: 1rem 0;
}

.navbar .fa-bars{
    display: none;
}

.menu {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.menu li {
    list-style: none;

}

.menu a{
    text-decoration: none;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-transform: uppercase;
    position: relative; /*para el pseudo elemento*/
}

.menu a::after{
    content: '';
    width: 1.5rem;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: -3px;
    left:50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all .3s ease;
}

.menu a:hover::after{
    opacity: 1;
}

.menu a:hover {
    color: rgb(255, 255, 255);
}

/*Banner*/

.banner{
    background-image: linear-gradient(100deg, #0000, #000020) , url('../imagenes/banner.jpg');
    height: 60rem;
    background-size: cover;
    background-position: center;
}

.content-banner{
    max-width: 90rem;
    margin: 0 auto;
    padding: 25rem 0;
}

.content-banner p{
color: var(--main-color1);
font-size: 1.2rem;
margin-bottom: 1rem;
font-weight: 500;
}

.content-banner h2{
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.content-banner a{
    margin-top: 2rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: var(--header-color1);
    display: inline-block;
    padding: 1rem 3rem;
    text-transform: uppercase;
    border-radius: 3rem;
}

/*Main content*/

.main-content{
    background-color: var(--main-color2);

}

/* feature */

.container-features{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    padding: 3rem 0;

}

.card-feature{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    padding: 1.5rem 0;
    
}


.card-feature i {
    font-size: 2.7rem
}

.feature-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.feature-content span{
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--footer-color);
}

.feature-content p{
    color: #777;
    font-weight: 500;
}

.link-feature{
    color: #777;
    font-size: 1rem;
    font-weight: 500;
    text-decoration:underline;
}

/* categories */

.top-categories {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;

}

.container-categories{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;

}

.card-category{
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;  
    border-radius: 2rem;  
    gap: 2rem;
}

.category-moca{
    background-image: linear-gradient(#00000080,#00000080), url("../imagenes/moca-category.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;   
}

.category-expreso{
    background-image: linear-gradient(#00000080,#00000080), url("../imagenes/capuchino-category.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;   
}

.category-capuchino{
    background-image: linear-gradient(#00000080,#00000080), url("../imagenes/expreso-category.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;   
}

.card-category p{
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    position: relative;
}

.card-category p::after{
    content: '';
    width: 2.5rem;
    height: 2px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%, 50%);
}


.card-category span{
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.card-category span:hover{
    color: var(--header-color2);
}


/* TOP PRODUCTS */

.top-products{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;

}

/* opciones arriba de los productos */

.container-options{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;

}


.container-options span{
    color: #777;
    background-color: rgb(255, 255, 255);
    padding: .7rem 3rem;
    font-size: 1.4rem;   
    text-transform: capitalize;
    border-radius: 2rem;
    /* cursor: pointer; */
}


.container-options span:hover{
    background-color: var(--header-color1);
    color: rgb(255, 255, 255);
}

.container-options span.active{
    background-color: var(--header-color1);
    color: rgb(255, 255, 255);
}

/* carta de productos */

.container-products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
}

.card-product{
    background-color: rgb(255, 255, 255);
    padding: 2rem 3rem;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.container-img{
    position: relative;

}

.container-img img{
    width: 100%;
}

/* Descuento */

.container-img .discount{
    position: absolute;
    left: 0;
    background-color: var(--header-color1);
    color: #fff;
    padding: 2px 1.2rem;
    border-radius: 1rem;
    font-size: 1.2rem;
}

.card-product:hover .discount{
    background-color: #000;
}


/* Grupo de botones e iconos
.button-group{
    display: flex;
    flex-direction: column;
    gap: 1rem;


    position: absolute;
    top: 0;
    right: -3rem;
    z-index: -1;
    transition: all -5s ease;
}

.button-group span{
    border: 1px solid var(--header-color2);
    padding: .8rem;


    display: flex;
    align-items: center;
    align-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all -5s ease;
}

.button-group span:hover{
    background-color: var(--header-color2);
    
}

.button-group span i{
    font-size: 1.5rem;
    color: var(--header-color2);
}

.button-group span:hover i{
    color: rgb(255, 255, 255);
}

.card-product:hover .button-group{
    z-index: 0;
    right: -1rem;
} */


/* CONTENIDO DEL PRODUCTO */

.content-card-product{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    row-gap: 1rem;
}

.stars{
    grid-row: 1/2;
    grid-column: 1/-1;

}
.stars i{
    font-size: 1.3rem;
    color: var(--header-color1)

}

/* .content-card-product h3{
    grid-row:  2/3;
    grid-column: 1/-1;

    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    cursor: pointer;
} */


/* .content-card-product h3:hover{
    color: var(--header-color2);

} */

.add-cart{
    justify-self: start;
    border: 2px solid var(--header-color1);   
    padding: 1rem;
    border-radius: 500rem;
    transition: all, .3s, ease;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.add-cart:hover{
    background-color: var(--header-color1);
}

.add-cart i {
    font-size: 1.5rem;
    color: var(--header-color1);
}

.add-cart:hover i{
    color: rgb(255, 255, 255);
}

.content-card-product .price{
    justify-self: center;
    font-size: 1.7rem;
    font-weight: 600;

}

.content-card-product .price span{
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: line-through;
    color: #777;
    margin-left: .5rem;
}


/* FOOTER */

.footer{
    background-color: var(--header-color1);
}

.container-footer{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 3rem;
}

.menu-footer{
    display: grid;
    grid-template-columns: repeat(1, 1fr) 40rem;
    gap: 3rem;
    justify-content: center;
}

.title-footer{
    font-weight: 600;
    font-size: 1.6rem;
    color: var(--main-color1);
    text-transform: uppercase;
}

.contanct-info,
.information{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.information ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.information ul li, a{
    list-style: none;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    font-weight: 300;
    text-decoration: none;
}

.information ul li a:hover{
    color: var(--header-color2);
}

.social-icons{
    display: flex;
    gap: 1.5rem;
}

.social-icons span{
    
    border-radius: 50%;
    width: 6rem;
    height: 6rem;

    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons span i{
    color: #fff;
    font-size: 2.5rem;
}

.facebook{
    background-color: #3b5998;
}

.twitter{
    background-color: #000;
}

.youtube{
    background-color: #c4302b;
}

.instagram{
    background: linear-gradient(
        #405de6,
        #833ab4,
        #c13584,
        #e1306c,
        #fd1d1d,
        #f56040,
        #fcaf45       
    );
}

.copyright{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    
}


/* LOGIN */

.main-content2{
    background-image: linear-gradient(100deg, #0000, #000000) , url('../imagenes/DreamShaper_v7_background_image_for_a_webpage_about_videogames_0.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 1rem;
    padding-bottom: 5rem;
}


.formulario{
   
    display: flex;
    align-items: center;
    flex-direction: column;
    /* margin-top: 1rem; */
    /* padding-top: 3rem; */
    margin-bottom: 10%;
   margin-top: 10rem;
   padding-bottom: 1rem;
   color: var(--main-color1);
}


.form{

    padding: 1rem;
    margin-bottom: 1rem;
}

.contenedor-form{
    background-color: var(--header-color2);
    display: flex;
    padding: 6rem;
    /* border: solid .1rem black; */
    border-radius: 10%;
    
}


.inicio-sesion
{
padding-bottom: 1rem;
text-transform: uppercase;
text-align: center;
}
.username{
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    font-weight: 500;
    /* border: solid .1rem black; */
    padding: 1rem 3rem;
    text-transform: uppercase;
    

}

.username label{
    padding: 1rem;
}

.username input{
    padding: .5rem 4rem;
    cursor: pointer;
}

.password{
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    font-weight: 500;
    /* border: solid .1rem black; */
    padding: 1rem 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    
}

.password label{
    padding-right: 2rem;
    margin-right: 4.2rem;

}

.password input{
    padding: .5rem 4rem;
    cursor: pointer;
}

.recordar{
    font-size: 1.5rem;
}

.recordar a:hover{
    color: var(--header-color1);
}

.enviar{
    padding-bottom: 1rem;
}
.enviar input{
    padding: .5rem 13.5rem;
    border-radius: 2rem;
    border: solid .1rem black;
    background: var(--header-color1);
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

.enviar input:hover{
    background-color: #517971;
}

.registrarse{
    margin-top: 4rem;
}

.registrarse a:hover{
    color: var(--header-color1);
}

/* REGISTRAR  se hizo igual que el login el formulario*/

/*OLVIDAR SU CLAVE se hizo igual a registrar*/
/* EN PROGRESO */
.enprogreso img{
    width: 100%;
    height: auto;
    
}

/* PREGUNTAS FRECUENTAS */
.main-content3 {
    background-image: linear-gradient(100deg, #0000, #000000) , url('../imagenes/background-3.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 1rem;
    padding-bottom: 5rem;
}

.container-qa{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

.qa{
    border: 1px solid black;
    background-color: var(--header-color1);
    text-align: center;
    color: white;
    height: auto;
    width: 50%;
    border-radius: 5%;
}

.qa li {
    list-style: none;
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

.qa p{
    font-size: 1.6rem;
    padding-bottom: 1.5rem;
}

/* ACERCA DE NOSOTROS */
.main-content4 {
    background-image: linear-gradient(100deg, #0000, #000000) , url('../imagenes/background-3.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 1rem;
    padding-bottom: 6rem;
}
.container-au{
    width: 50%;
    height: auto;
    display: flex;
    margin-top: 5%;
    margin-left: 25%;
    background-color: var(--header-color2);
    border: 1px solid black;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 10%;
    
}

.content1 h1, .content2 h1, .content3 h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

.content1 p, .content2 p, .content3 p{
    padding-top: 1.5rem;
    font-size: 1.6rem;
    text-align: center;
}

.content1, .content2, .content3{
    width: 100%;
    height: auto;
    padding: 2rem;
    margin-bottom: 2rem;
    gap: 1rem;
    color: white;
    /* background-color: aquamarine; */
    /* align-self: center; */
    
}

/* CONTACTANOS */
.main-title15{
    font-size: 2.5rem;
    margin-top: 9px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}
.tabla-container-p13{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.main-title-15{
     font-size: 2rem;
    margin-top: 9px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}
input, select{
    width: 300px;
    height: 50px;

}

.table-head15 {
    font-size: 2rem;
    background-color: #419b5c;
}
.table-head15 th{
    padding: 2rem 1.5rem;
    border-right: 0.1rem solid black ;
    text-transform: uppercase;
}
.table-body15{
    font-size: 1.7rem;
    background-color: #87c27f;
}
.table-body15 td{
    padding: 1.2rem 2.2rem;
   border-bottom: solid 0.1rem black;
   border-top: solid 0.1rem #0A100D;
   border-right: 0.1rem solid black ;
}

.mensaje input{
    height: 7.5rem;
}
.Boton input{
    margin-left: 5rem;
}

/* TARJETAS */
.container-tarjetas h1{
    font-size: 2.7rem;
    text-align: center;
    text-transform: uppercase;
    padding: 2rem;
}
/* GALLERY */

.gallery{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2, 30rem);
    gap: 1.5rem;
    margin-bottom: 3rem;

}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

.gallery-img-3{
    grid-column: 2/4;
    grid-row: 1/3;
}

/* productos tarjeta */
/* carta de productos */
.container-top-products{
    height: auto;
    padding-bottom: 5rem;
    max-width: 120rem;
    margin: 0 auto;
}
.container-products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
    margin-top: 2.5rem;
    padding-bottom: 5rem;
}

.card-product{
    background-color: rgb(255, 255, 255);
    padding: 2rem 3rem;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.container-img{
    position: relative;

}

.container-img img{
    width: 100%;
    
}

/* Descuento */

.container-img .discount{
    position: absolute;
    left: 0;
    background-color: var(--header-color1);
    color: #fff;
    padding: 2px 1.2rem;
    border-radius: 1rem;
    font-size: 1.2rem;
}

.card-product:hover .discount{
    background-color: #000;
}


/* CONTENIDO DEL PRODUCTO */

.content-card-product{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    row-gap: 1rem;
}

.stars{
    grid-row: 1/2;
    grid-column: 1/-1;

}
.stars i{
    font-size: 1.3rem;
    color: var(--header-color1)

}

.content-card-product h3{
    grid-row:  2/3;
    grid-column: 1/-1;
    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.content-card-product a{
    color: #000;
}

.content-card-product a:hover{
    color: var(--header-color2);

}

.add-cart{
    justify-self: start;
    border: 2px solid var(--header-color1);   
    padding: 1rem;
    border-radius: 500rem;
    transition: all, .4s, ease;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.add-cart:hover{
    background-color: var(--header-color1);
}

.add-cart i {
    font-size: 1.5rem;
    color: var(--header-color1);
}

.add-cart:hover i{
    color: rgb(255, 255, 255);
}

.content-card-product .price{
    justify-self: center;
    font-size: 1.7rem;
    font-weight: 600;

}

.content-card-product .price span{
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: line-through;
    color: #777;
    margin-left: .5rem;
}

.gallery-2{
    display: flex;
    width: 100%;
    height: auto;
    align-content: center;
    justify-content: center;
   padding-bottom: 5rem;
}
.gallery-2 img{
    width: 70.0rem;
    height: 83.2rem;
    border: solid .5rem var(--header-color2);
}


/*Productos */
.container-product{

    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: azure;
}

.content-image-product{
    display: flex;
    width: 40%;
    height: auto;
    /* background: green; */
    align-items: center;
    justify-content: center;
    margin: 2rem ;
}

.content-image-product img{
    width: 80%;
    border: 1rem solid var(--header-color1);
    
}

/* DESCRIPCION */

.container-description{
    width: 55%;
    height: auto;
    

}
.content-description{
    width: 100%;
    height: 20rem;
    /* background-color: rgb(74, 74, 221); */
    margin-top: 5%;
}
.container-description h1{
text-align: center;
padding-bottom: 2rem;
font-size: 2rem;
font-weight: 700;
}
.container-description p{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.container-description h3{
    /* text-align: start; */
    font-size: 1.8rem;
    font-weight: 700;
    padding-top: 5rem;
    padding-left: 4rem;
    /* margin-bottom: 10rem; */
}

/* botones */

.container-boton{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 20rem;
    padding-top: 4rem;
    /* background: rgb(90, 79, 79); */
    /* margin-left: 25%; */
}
.container-cantidad span{
    font-size: 1.2em;
    font-weight: 700;
}

.container-cantidad select{
    width: 5rem;
    height: 2rem;
}

.container-pedir span{
font-size: 1.2rem;
padding-right: 1rem;
font-weight: 700;
}

.container-pedir i {
    /* width: 2.6rem;
    height: 2.7rem; */
    padding: .9rem;
    font-size: 2rem;
    color: var(--header-color1);
    border: 1px solid var(--header-color1);
    border-radius: 50%;
}

.container-pedir:hover i{
    color: white;
    border: 1px solid rgb(0, 0, 0);
    background-color: #000;
}

/* .add-cart-pedir{
    justify-self: start;
    border: 2px solid var(--header-color1);   
    padding: 1rem;
    border-radius: 500rem;
    transition: all, .3s, ease;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.add-cart-pedir:hover{
    background-color: var(--header-color1);
}

.add-cart-pedir i {
    font-size: 1.5rem;
    color: var(--header-color1);
}

.add-cart-pedir:hover i{
    color: rgb(255, 255, 255);
} */

/*Pagina de ejercicios*/
.ejercicios_js{
   
    display: flex;
    align-items: center;
    flex-direction: column;
    /* margin-top: 1rem; */
    /* padding-top: 3rem; */
    margin-bottom: 10%;
   margin-top: 10rem;
   padding-bottom: 1rem;
   color: var(--main-color1);
}


.contenedor-lista{
    background-color: var(--header-color2);
    display: flex;
    padding: 6rem;
    border: solid .1rem black;
    border-radius: 10%;
    flex-direction: column;
}

.contenedor-lista h1{
    font-size: 1.8rem;
    padding-bottom: 1rem;
}

.contenedor-lista ul, .contenedor-lista ul a {
    font-size: 1.6rem;
    text-align: center;
    list-style: none;
}

.contenedor-lista ul a:hover{
    color: var(--header-color1);
}


/*Ejercicio 1*/
.containerOperacion{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    padding-bottom: 8rem;
}
.enunciado1{
    padding-bottom: 2rem;
}
.enunciado1 h1{
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 2.5rem;
}

.container-ej1 span{
    font-size: 1.8rem;
    font-weight: 700;
    padding-bottom: 1.8rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.operadores{
    display: flex;
    align-items: center;
}
.operadores button{
    width: 10rem;
    height: 5rem;
    margin: 1rem;
}

.resultadoEj1{
    margin-top: 1.5rem;
    font-size: 1.8rem;
}

/* EJERCICIO2 */
.containerFunciones{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    padding: 2rem;
    padding-bottom: 8rem;
}
.containerFunciones h1, .containerFunciones h2{
    text-align: center;
    padding-bottom: 1.5rem;
}

.containerFunciones ul {
    list-style: none;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1.8rem;
}

.containerFunciones li{
    padding-bottom: 2rem;
    margin-bottom: 1rem;
}

.funcion1 p, .funcion2 p, 
.funcion3 p, .funcion4 p,.funcion5 p,
.funcion6 p,.funcion7 p,
.funcion8 p,.funcion9 p,.funcion10 p
{
    padding-top: 1rem;
    font-weight: 200;
}

.funcion1 .btnf1,.funcion2 .btnf2,
.funcion3 .btnf3,.funcion4 .btnf4,
.funcion5 .btnf5,.funcion6 .btnf6,
.funcion7 .btnf7,.funcion8 .btnf8,
.funcion9 .btnf9,.funcion10 .btnf10
{
    height: 5rem;
    width: 8.5rem;
}
.funcion1 span,.funcion2 span ,
.funcion3 span,.funcion4 span,
.funcion5 span,.funcion6 span,
.funcion7 span,.funcion8 span,
.funcion9 span,.funcion10 span{
    margin-left: 2rem;
}

/*EJERCICIO 3*/


.containerOperacion{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    padding-bottom: 8rem;
}
.enunciado3{
    padding-bottom: 2rem;
}
.enunciado3 h1{
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 2.5rem;
}

.container-ej1 span{
    font-size: 1.8rem;
    font-weight: 700;
    padding-bottom: 1.8rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.operadores2 button{
    width: 10rem;
    height: 5rem;
    margin: 1rem;
}

.resultadoEj3, .contadorEj3{
    margin-top: 2rem;
    font-size: 1.8rem;
}

/*Ejercicio 4
Se tiene registrado la producción (unidades) logradas por un operario a lo largo de la semana (lunes a sábado). Elabore una solución que nos muestre si el operario recibirá incentivos, y cuanto es su salario semanal, de acuerdo a la siguiente tabla, sabiendo que el promedio de producción mínima es de 100 unidades. 
*/

.enunciado4{
    padding-bottom: 2rem;
}
.enunciado4 h1{
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 2.5rem;
}

.container-ej1 span{
    font-size: 1.8rem;
    font-weight: 700;
    padding-bottom: 1.8rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.operadores2 button{
    width: 10rem;
    height: 5rem;
    margin: 1rem;
}

.resultadoEj4{
    margin-top: 2rem;
    font-size: 1.8rem;
}

/* Ejercicio 5 */

.container-r5{
    margin-top: 2rem;
    font-size: 1.6rem;
}
.container-r5 h2{
    margin-bottom: 1.2rem;
}

/*Ejercicio 6
Hacer un algoritmo que una cantidad de números definidos por el usuario e imprima cuantos son positivos, cuantos son negativos y cuantos son neutros, además la sumatoria de los positivos y negativos. 
*/
.container-ej1 label{
    font-size: 1.8rem;
    font-weight: 700;
    padding-bottom: 1.8rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

/*Ejercicio 7
Una persona desea realizar un muestreo con n personas para determinar el promedio de peso de los niños, jóvenes, adultos y viejos que existen en su zona habitacional y cuantos son de cada uno de las categorías. Se determinan las categorías con base en la siguiente tabla */

.operadores2 .agregar{
    display: inline;
}

/*Ejercicio 8
Un Proceso de producción de huevos en un corral se da a través de la siguiente ecuación

E=1+x+x22!+…+ xnn!
 
Donde x representa el numero de gallinas y n el numero de dias, halle la produccion para un numero de gallinas x y un numero de dias n, digitados por el usuario
*/


/*Ejercicio 9 
Elaborar una aplicación que almacene en una matriz los estudiantes, las materias cursadas, las notas, halle promedio de cada materia y de cada estudiante.
*/

.outputMatrix{
    text-align: center;
    font-size: 1.8rem;
}

/*Ejercicio 10
Nomina*/
.centrar{
padding-bottom: 9rem;
}
.centrar h1{
    font-size: 2.4rem;
    text-align: center;
    padding-top: 3rem;
}


.centrar h2{
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 3rem;
}

.tablaNomina{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--header-color2);
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}
.tablaNomina thead{
    font-size: 2rem;
}
.tablaNomina tr {
    font-size: 1.8rem;
}
.tableFinal th{
    padding: 2rem;
}
.tableFinal button{
    width: 8rem;
    height: 5rem;
}

#rn1, #rn2{
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}