:root{
    --header-color1: #357266;
    --header-color2: #84DD63;
    --main-color1: #EBF2FA;
    --footer-color: #0A100D;
    --font-titles: 2.7rem;
    --font-text:1.8rem;
    --font-subtitles:2.4rem;
    font-family:  'Be Vietnam',Helvetica,Arial,Lucida,sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;

}

.body-container{
    display: flex;
    flex-direction: column;
    align-content: space-between;
   
}

/*Header*/

.header-container{
    display: flex;
    width: 100vw;
    height: 20rem;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
    
}

/*header 1*/
.head1{
    width: 100vw;
    height: 75%;
    background-color: var(--header-color1); 
    
}

.head1-c{
    display: flex;
    width: 100vw;
    height: 100%;
    justify-content: stretch;
}

.logo{

    margin-right: 35%;
}
.logo  img{
    
    width: 18rem;
    height: 13rem;
    border-radius: 55%;
    margin-top: 0.5rem ;
    margin-left: 1rem; 
    
}

.head1-title{
    margin-right: 5%;
    width: 30rem;
    height: 6rem;
    align-self: center;
    font-size: 5rem;
    color: rgb(255, 255, 255);

}



/*header 2*/
.head2{
    width: 100vw;
    height: 25%;
    background-color: var(--header-color2);
}

.h2-nav{
    width: 100vw;
    height: 100%;
}
.link{
    text-decoration: none;
    color: white;
}
.list{

    display: flex;
    width: 100vw;
    height: 100%;
    font-size: 1.5rem;
    list-style: none;
    justify-content: space-evenly;
    align-items:flex-end;
    align-content: flex-start;
    margin-right: 60px;
}

.link:hover{
    color: #FE9920;
}




/*Main*/

/*index*/
.main-container{
    display: flex;
    width: 100vw;
    height: auto;
    background-color: var(--main-color1);
    flex-direction: column;
}

/*seccion 1*/
.main-s1{
width: 100vw;
height: auto;
}

.main-introduction
{
display: flex;
width: 100%;
height: 100%;
flex-direction: column;
align-items: center;
}

.main-title1{
    font-size: var(--font-titles);
    margin-top: 9px;
}

.main-text1{
    font-size: var(--font-text);

}

.main-introduction img{
    margin-top: 1.8rem;
    height: 300px;
    width: 330px;
}



/*seccion 2*/
.main-s2{
width: 100vw;
height: auto;
}


.main-sellers{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;

}

.main-title2{
    font-size: var(--font-titles);
    margin-top: 2rem;
}

.main-parte2{
    margin-top: 1.5rem;
    display: flex;
    width: 100vw;
    height: 100%;
    justify-content: space-evenly;
}

.seller1{
    width: 300px;
    height: auto;
}

.best_sellers {
    width: 100%;
    height: 40%;
}
.seller2{
    width: 300px;
    height: auto;
}
.seller3{
    width: 300px;
    height: auto;
}


.sellers-title {
    font-size: var(--font-titles);
}
.sellers-content{
    margin-top: 1rem;
    font-size: var(--font-text);
}





/*pagina 1*/

.main-container1{
    /* display: flex; */
    width: 100vw;
    height: auto;
    background-color: var(--main-color1);
    /* flex-direction: column; */
} 

.main-title-p1{
    padding-top: 1.5rem;
    font-size: var(--font-titles);
    text-align: center;
}

.main-curiosidades > ol{
    display: inline-block;
    font-size: var(--font-text);
    margin-left: 5rem;
    margin-top: 1rem;
}

.main-curiosidades li {
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.container-img1{
    display: inline;
}

.img-curiosidades{
    display: inline-block;
    width: 400px;
    height: 200px;
    margin-top: 1rem;
    margin-left: 30%;
    }
    
.ref-curiosidades{
     font-size: 10px;
    text-align: center;
    padding-bottom: 1.9rem;
}


/*pagina 2*/
.main-container2{
    display: flex; 
    width: 100vw;
    height: auto;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    background-color: var(--main-color1);   
    padding-bottom: 2.5rem;
} 

.main-title-p2{
    font-size: var(--font-titles);
    text-align: center;
    margin-top: 2rem;
   
}
.tabla-container-p2{
    width: 100vw;
}

.tabla-container-p2 table{
    
    border: 0.1rem solid black;
    margin-top: 5rem;
    margin-left: 1rem;
}

.table-head {
    font-size: var(--font-titles);
    background-color: #7c838a;
}

.table-head th{
    padding: 2rem 1.5rem;
    border-right: 0.1rem solid black ;
}

.table-body{
    font-size: var(--font-text);
    background-color: #adbece
}

.table-body td{
    padding: 1.2rem 2.2rem;
   border-bottom: solid 0.1rem black;
   border-top: solid 0.1rem #0A100D;
   border-right: 0.1rem solid black ;
}

.table-img
{
width: 150px;
height: 150px;

}
.table-video{
    width: 210px;
    height: 200px;
    
}

.table-foot{
    background-color: #adbece
}

.table-foot th{
    border: 0.1rem solid black ;
}

/*pagina 3*/


.main-competencias > ul{
    display: inline-block;
    font-size: var(--font-text);
    margin-left: 5rem;
    margin-top: 1rem;
    padding-bottom: 1.5rem;
    list-style: none;
}

.second-list{
    list-style: square;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 3rem;
}
.second-list li{
    padding-bottom: 1rem ;
}
.container-img1{
    display: inline;
}

.main-subtitle{
    text-align: center;
    font-size: var(--font-subtitles);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.img-curiosidades{
    display: inline-block;
    width: 400px;
    height: 200px;
    margin-top: 1rem;
    margin-left: 30%;
    }
    
.ref-curiosidades{
     font-size: 10px;
    text-align: center;
    
}

/*Pagina 4*/
.table-head1 {
    font-size: var(--font-titles);
    background-color: #479b6d;
}
.table-head1 th{
    padding: 2rem 1.5rem;
    border-right: 0.1rem solid black ;
}
.table-body1{
    font-size: var(--font-text);
    background-color: #7fc2a6;
}
.table-body1 td{
    padding: 1.2rem 2.2rem;
   border-bottom: solid 0.1rem black;
   border-top: solid 0.1rem #0A100D;
   border-right: 0.1rem solid black ;
}
.table-foot1{
    background-color: #7fc2a6;
}

.table-foot1 th{
    border: 0.1rem solid black ;
}

/*Pagina 5 hecha similar a la 1*/

/*Pagina 6 hecha similar a la 1*/

/*Pagina 7  hecha similar a la 1*/

/*Pagina 8*/

.tabla-container-p8{
    width: 100vw;
}

.tabla-container-p8 table{
    
    border: 0.1rem solid black;
    margin-top: 5rem;
    margin-left: 1rem;
}

.table-head3 {
    font-size: var(--font-titles);
    background-color: #8f3347;
}

.table-head3 th{
    padding: 2rem 1.5rem;
    border-right: 0.1rem solid black ;
}

.table-body3{
    font-size: var(--font-text);
    background-color: #d38d8d;
}

.table-body3 td{
    padding: 1.2rem 2.2rem;
   border-bottom: solid 0.1rem black;
   border-top: solid 0.1rem #0A100D;
   border-right: 0.1rem solid black ;
}
.table-foot3{
    background-color:  #d38d8d;
}

.table-foot3 th{
    border: 0.1rem solid black ;
}

.table-img1
{
width: 290px;
height: 180px;
}

/*footer*/
.end{
    display: flex;
    width: 100vw;
    height: 25vh;
    background-color: var(--footer-color) ;
    justify-content: space-evenly;
    align-items:center;
    align-content: flex-start;
} 

/*Atras*/
.footer1{
    width: 10rem;
    height: 10rem;
    background-color: rgb(224, 223, 223);
}
.footer1 img{
    width: 100%;
    height: 100%;
}
/*whatsapp*/
.footer2{
    width: 10rem;
    height: 10rem;
    background-color: rgb(255, 255, 255);
}
.footer2 img{
    width: 98%;
    height: 99%;
}

/*Facebook*/
.footer3{
    width: 10rem;
    height: 10rem;
    background-color: rgb(255, 255, 255);
}
.footer3 img{
    width: 100%;
    height: 100%;
}

/*home*/
.footer4{
    width: 10rem;
    height: 10rem;
    background-color: rgb(233, 231, 231);
}
.footer4 img{
    width: 100%;
    height: 100%;
}

/*youtube*/
.footer5{
    width: 10rem;
    height: 10rem;
    background-color: rgb(255, 255, 255);
}
.footer5 img{
    width: 100%;
    height: 100%;
}

/*twitter */
.footer6{
    width: 10rem;
    height: 10rem;
    background-color: rgb(255, 255, 255);
}
.footer6 img{
    width: 100%;
    height: 100%;
}

/*Adelante*/
.footer7{
    width: 10rem;
    height: 10rem;
    background-color: rgb(233, 231, 231);
}
.footer7 img{
    width: 98%;
    height: 98%;
}